<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>s3ComServlet</servlet-name>
    <servlet-class>dssg.server.S3CommunicationServiceImpl</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>simulationServlet</servlet-name>
    <servlet-class>dssg.server.SimulationServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>s3ComServlet</servlet-name>
    <url-pattern>/webapp/s3Com</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>simulationServlet</servlet-name>
    <url-pattern>/webapp/simulate</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>webapp.html</welcome-file>
  </welcome-file-list>

</web-app>
